<!DOCTYPE html>

<html>
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Agropro</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/site/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/site/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/site/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="~/site/images/fevicon.png" type="image/gif" />
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="~/site/css/owl.carousel.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="~/site/css/bootstrap-datepicker.min.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body class="main-layout">

    <div class="loader_bg">
        <div class="loader"><img src="~/site/images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <div class="full_bg">
        <!-- header -->
        <header class="header-area">
            <div class="container-fluid">
                <div class="row d_flex">
                    <div class=" col-md-2 col-sm-3">
                        <div class="logo">
                            <a href="index.html">Agro<span>Pro</span></a>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-9">
                        <div class="navbar-area">
                            <nav class="site-navbar">
                                <ul>
                                    <li><a class="active" href="index.html">Home</a></li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="service.html">Service</a></li>
                                    <li><a href="Javascript:void(0)">Projects</a></li>
                                    <li><a href="testimonail.html">Testimonail</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                                <button class="nav-toggler">
                                    <span></span>
                                </button>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-2 padd_0 d_none">
                        <ul class="email text_align_right">
                            <li>
                                <a href="Javascript:void(0)">Login</a>
                            </li>
                            <li>
                                <a href="Javascript:void(0)">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header inner -->
        <!-- top -->
        <div class="slider_main">
            <!-- carousel code -->
            <div id="banner1" class="carousel slide carousel-fade" data-ride="carousel" data-interval="6000">
                <ol class="carousel-indicators">
                    <li data-target="#banner1" data-slide-to="0" class="active"></li>
                    <li data-target="#banner1" data-slide-to="1"></li>
                    <li data-target="#banner1" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <picture>
                            <source srcset="~/site/images/banner.jpg">

                            <img srcset="~/site/images/banner.jpg" alt="responsive image" class="d-block img-fluid">
                        </picture>
                        <div class="carousel-caption relative">

                        </div>
                    </div>
                    <!-- /.carousel-item -->
                    <div class="carousel-item">
                        <picture>

                            <img srcset="~/site/images/banner.jpg" alt="responsive image" class="d-block img-fluid">
                        </picture>
                        <div class="carousel-caption relative">

                        </div>
                    </div>
                    <!-- /.carousel-item -->
                    <div class="carousel-item">
                        <picture>
                            <source srcset="~/site/images/banner.jpg">
                            <source srcset="~/site/images/banner.jpg">
                            <source srcset="~/site/images/banner.jpg">
                            <img srcset="~/site/images/banner.jpg" alt="responsive image" class="d-block img-fluid">
                        </picture>
                        <div class="carousel-caption relative">

                        </div>
                    </div>
                    <!-- /.carousel-item -->
                </div>
                <!-- /.carousel-inner -->
                <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="willom">
                            <h1> Agriculture Fram</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()

    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="hedingh3  text_align_left">
                            <h3>Newsletter</h3>
                            <form id="colof" class="form_subscri">
                                <input class="newsl" placeholder="Enter Email" type="text" name="Email">
                                <button class="subsci_btn"><img src="~/site/images/new.png" alt="#" /></button>
                            </form>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="hedingh3 text_align_left">
                            <h3> Explore</h3>
                            <ul class="menu_footer">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="service.html">Service</a></li>
                                <li><a href="Javascript:void(0)">Projects</a></li>
                                <li><a href="testimonail.html">Testimonail</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="hedingh3 text_align_left">
                            <h3>Recent Posts</h3>
                            <ul class="recent">
                                <li><img src="~/site/images/resent.jpg" alt="#" />ea commodo consequat. Duis aute </li>
                                <li><img src="~/site/images/resent.jpg" alt="#" />ea commodo consequat. Duis aute </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="hedingh3  flot_right text_align_left">
                            <h3>ContacT</h3>
                            <ul class="top_infomation">
                                <li>
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    +01 1234567892
                                </li>
                                <li>
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <a href="Javascript:void(0)">demo@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="copyright">
                <div class="container">
                    <div class="row d_flex">
                        <div class="col-md-8">
                            <p>© 2022 All Rights Reserved. Design by <a href="https://html.design/"> Free html Templates</a></p>
                        </div>
                        <div class="col-md-4">
                            <ul class="social_icon ">
                                <li><a href="Javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="Javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="Javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/site/js/jquery.min.js"></script>
    <script src="~/site/js/bootstrap.bundle.min.js"></script>
    <script src="~/site/js/jquery-3.0.0.min.js"></script>
    <script src="~/site/js/owl.carousel.min.js"></script>
    <script src="~/site/js/bootstrap-datepicker.min.js"></script>
    <script src="~/site/js/custom.js"></script>
</body>
</html>
